body {
    background-color: black;
}

main {
    position: relative;
    
}

.clipped {
    clip-path: url(#flashlight);
    -webkit-clip-path: url(#flashlight);
}

svg {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.clickable:hover {
    box-shadow: 0 0 9px 5px yellow;
}

/* this is over stuff i.e. pop ups from interactibles */

.top * {
    width: 100%;
    height: auto;
    position: absolute;
    top: 0;
    left:0%;
}

.exit_button {
    width: 65px;
}

.next_button {
    width: 125px;
    
}

#compliment {
    max-width: 350px;
    font-size: 30px;
    font-family: cursive;
    text-align: center;
    align-self: center;
    margin: 50px;
    top: 120px;
}

#sticky-note-button {
    top: 10px;
    left: 82%;
}

#sticky-note-popup {
    width: 30%;
    top: 225px;
    left:50%;
    transform: translate(-50%);
}

#right-arrow {
    top: 610px;
    left: 58%;
}

#left-arrow {
    top: 630px;
    left: 13%;
}

#diary-button {
    left: 63%;
    top: 50px;
}

#shade {
    width: 1920px;
    height: 1080px;
}

#diary-popup {
    width: 70%;
    top: 60px;
    left:50%;
    transform: translate(-50%);
}

#diary-open{
    width: 94%;
    transform: translate(6%);
}

#diary-cover {
    width: 50%;
    transform: translate(50%);
}

#card-open-button {
    top: 10px;
    left: 93%;
}

#card-popup {
    width: 70%;
    top: 50px;
    left:50%;
    transform: translate(-50%);
}

#phone-text-button {
    top: 22px;
    left: 80%;
}

#phone-text-popup {
    width: 30%;
    top: 20px;
    left:50%;
    transform: translate(-50%);
}


/* this is under stuff i.e. stuff in the dark */

.under *{
    height: auto;
    position: absolute;
    top: 0;
    left:0%;
}

#diary-spine {
    width: 6%;
    top: 400px;
    left: 82.1%;
    rotate: 112deg;
}

#card-closed {
    width: 9%;
    top: 720px;
    left: 32%;
}

#phone-bottom {
    width: 4%;
    top: 430px;
    left: 50%;
}

#laptop {
    width: 12%;
    top: 320px;
    left: 55%;
}

#laptop-screen {
    width: 8.6%;
    top: 329px;
    left: 57%;
}

#switch {
    width: 3%;
    top: 300px;
    left: 92%;
}

#soccerball {
    width: 8%;
    top: 650px;
    left: 25%;
}

#sticky-note-small {
    width: 3%;
    top: 320px;
    left: 45%
}

#bed {
    width: 39%;
    top: 380px;
    left: 5%;
    content:url(../img/bed1.png);
    animation-name: sleep;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

#clock {
    width: 7%;
    top: 400px;
    left: 68%;
}

#background {
    width: 100%;
    height: auto;
    position: absolute;
    top: 0;
    left: 0%;

}

#background-color-shift {
    width: 100%;
    height: auto;
    position: absolute;
    top: 0;
    left:0%;
    filter: hue-rotate(180deg) invert(100%) brightness(20%) ;
}

.hidden {
    display:none;
}

@keyframes sleep {
    0% {content:url(../img/bed1.png)};
    25% {content:url(../img/bed2.png)};
    50% {content:url(../img/bed3.png)};
    75% {content:url(../img/bed2.png)};
    100% {content:url(../img/bed1.png)};
}