body {
    background-color: black;
}

main {
    position: relative;
    
}

.clipped {
    clip-path: url(#flashlight);
    -webkit-clip-path: url(#flashlight);
}

svg {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.clickable:hover {
    box-shadow: 0 0 9px 5px yellow;
}

.under *{
    background-color: white;
    position: absolute;
    top: 0;
    left:0%;
}

#switch {
    width: 50px;
    top: 300px;
    left: 92%;
}

#background {
    width: 100%;
    height: auto;
    position: absolute;
    top: 0;
    left: 0%;

}

#background-color-shift {
    width: 100%;
    height: auto;
    position: absolute;
    top: 0;
    left:0%;
    filter: hue-rotate(180deg) invert(100%) brightness(20%) ;
}

.hidden {
    display:none;
}

