main {
    position: relative;
    
}

.clipped {
    clip-path: url(#flashlight);
    -webkit-clip-path: url(#flashlight);
}

svg {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.under {
    width: 100%;
    background-color: white;
    position: absolute;
    top: 0;
    left:0%;
}

